{% extends 'orders/base.html' %}

{% load static %}

{% block content %}


<!-- Page Content  -->
<h2 class="text-center"> Delivery Note</h2>
<br>

<form class="form-horizontal">
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label col-sm-4"> Order Number</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div> 

    <div class="form-group">
      <label class="control-label col-sm-4">Delivered To</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>

  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label col-sm-4">Truck Number</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4">Delivery Date</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label col-sm-4"> Gate Pass Number</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div> 

    <div class="form-group">
      <label class="control-label col-sm-4">Invoice Number</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>

  </div>
 <!--  <form id="rangeForm">
        <label class="col-sm-4 control-label" for="startNumber">Start Number:</label>
        <input class="form-control" type="number" id="startNumber" name="startNumber" required>
        
        <label for="endNumber">End Number:</label>
        <input type="number" id="endNumber" name="endNumber" required>
        
        <button type="button" onclick="submitRange()">Submit Range</button>
    </form> -->
  <div class="col-sm-6">
    <div class="form-group">
        <label class="control-label col-sm-4">Number of Bags</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>

    <div class="form-group">
      <label class="control-label col-sm-4">Quantity</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="form-group">
      <label class="control-label col-sm-2">Description</label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control" rows="2"></textarea>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="form-group">
      <label class="control-label col-sm-2">Stock Details</label>
      
    </div>
  </div>


  <div class="col-sm-6">
    <div class="form-group">
      <label class="col-sm-4 control-label">Today Delivery</label>
    <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label class="col-sm-4 control-label">Balance</label>
    <div class="col-sm-8">
        <input type="text" class="form-control balance-input" value="50" readonly>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label class="col-sm-4 control-label">Previous Delivery Number</label>
    <div class="col-sm-8">
        <input type="text" class="form-control balance-input" value="80050" readonly>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label class="col-sm-4 control-label">Current Balance</label>
    <div class="col-sm-8">
        <input type="text" class="form-control balance-input" value="20" readonly>
      </div>
    </div>
  </div>

</form>

{% endblock %}